<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <% if controller.action_name == "view" %>
    <title>FabWiki: <%= @wiki.title %></title>
  <% else %>
    <title>FabWiki: <%= controller.action_name %></title>
  <% end %>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'style' %>
</head>
<body>

<div id="header">
<h2 id="site_title"><a href="/">FabWiki</a></h2>
<small>| Collaboratively written documentation for the Haystack FabLab
| <a href="/wiki/about-fabwiki">About/Help</a></small>
</div>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>


</body>
</html>
